<h3 class="text-center">Perfil do meu advogado</h3>
<div class="row h-100 align-items-center justify-content-center">
  <div class="col-xs-12 col-sm-8 col-md-5">
    <div class="card">
      <div class="card-header">
        Advogado: <%= @lawyer.name %>
      </div>
      <div class="card-body">
        <div class="media">
          <img src="https://i.pravatar.cc/100" class="mr-3" alt="Advogado">
          <div class="media-body">
            <h5 class="mt-0"><%= "#{@lawyer.city}, #{@lawyer.state}"%></h5>
            <h6>CPF: <%= @lawyer.cpf %></h6>
            <a href="https://wa.me/<%= @lawyer.phone.gsub(/[^0-9]/, '') %>"><i class="icon ion-logo-whatsapp"></i></a>
            <a href="mailto:<%= @lawyer.email %>"><i class="icon ion-md-mail"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
