<div class="row justify-content-around">
  <% @orders.each do |order| %>
    <div class="col-xs-12 col-sm-12 col-md-5 m-1 align-self-center">
      <%= render partial: 'shared/order', object: order, locals: { show: false } %>
    </div>
  <% end %>
</div>
