<div class="row justify-content-around">
  <% @clients.each do |client| %>
    <div class="col-xs-12 col-sm-12 col-md-6">
      <div class="card">
        <div class="card-header">
          Cliente: <%= client.name %>
        </div>
        <div class="card-body">
          <div class="media">
            <img src="https://i.pravatar.cc/100" class="mr-3" alt="Advogado">
            <div class="media-body">
              <h5 class="mt-0"><%= "#{client.city}, #{client.state}"%></h5>
              <a href="https://wa.me/<%= client.phone.gsub(/[^0-9]/, '') %>"><i class="icon ion-logo-whatsapp"></i></a>
              <a href="mailto:<%= client.email %>"><i class="icon ion-md-mail"></i></a> <br>
              <%= link_to 'Ver pedidos', adv_client_orders_path(client), class: 'btn btn-primary' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
