<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-6 text-left">
        <%= order.date.strftime("%d/%m/%Y") %>
      </div>
      <div class="col-6 text-right">
        <% if order.flight? %>
          Voo <i class="icon ion-md-airplane"></i>
        <% else %>
          Bagagem <i class="icon ion-md-briefcase"></i>
        <% end %>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-12">
        <% if order.pending? %>
          <div class="alert alert-warning" role="alert">
            <h4 class="alert-heading">Pendente</h4>
            <p>O pedido ainda não foi visto pelo advogado.</p>
          </div>
        <% elsif order.under_review? %>
          <div class="alert alert-info" role="alert">
            <h4 class="alert-heading">Em análise</h4>
            <p>Pedido está sendo analisado por uma advogado.</p>
          </div>
        <% elsif order.success? %>
          <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Sucesso!</h4>
            <p>Conseguimos concluir o processo e a indenização foi concedida. :D</p>
          </div>
        <% elsif order.failed? %>
          <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Falha</h4>
            <p>Infelizmente não foi possível conseguir a indenização :(</p>
          </div>
        <% elsif order.canceled? %>
          <div class="alert alert-dark" role="alert">
            <h4 class="alert-heading">Cancelado</h4>
            <p>O pedido foi cancelado.</p>
          </div>
        <% end %>
      </div>
    </div>
    <% if show %>
      <h6>Descrição</h6>
      <p> <%= order.description %> </p>
    <% else %>
      <% if current_client.nil? %>
        <%= link_to 'Mais Informações', adv_order_path(order), class: 'btn btn-primary' %>
        <div class="btn-group" role="group">
          <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Atualizar
          </button>
          <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <%= button_to 'Pendente', adv_order_path(order), method: :patch, params: { status: 'pending' }, class: 'dropdown-item' %>
            <%= button_to 'Em análise', adv_order_path(order), method: :patch, params: { status: 'under_review' }, class: 'dropdown-item' %>
            <%= button_to 'Sucesso', adv_order_path(order), method: :patch, params: { status: 'success' }, class: 'dropdown-item' %>
            <%= button_to 'Falha', adv_order_path(order), method: :patch, params: { status: 'failed' }, class: 'dropdown-item' %>
            <%= button_to 'Cancelado', adv_order_path(order), method: :patch, params: { status: 'canceled' }, class: 'dropdown-item' %>
          </div>
        </div>
      <% else %>
        <%= link_to 'Mais Informações', app_order_path(order), class: 'btn btn-primary' %>
      <% end %>
    <% end %>
  </div>
  <div class="card-footer text-muted">
    Última atualização há <%= time_ago_in_words(order.updated_at) %>
  </div>
</div>
