<div class="login">
  <div class="container h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-xs-12 col-sm-8 col-md-6">
        <div class="card">
          <div class="card-body">
            <h3 class="login-title text-center">
              Resolvvido
            </h3>
            <h6 class="text-center">Acessar conta</h6>
            <hr>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="form-group">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= f.label :password %><br />
                <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
              </div>
              <% if devise_mapping.rememberable? %>
                <div class="form-group form-check">
                  <%= f.check_box :remember_me, class: 'form-check-input' %>
                  <%= f.label :remember_me, class: 'form-check-label' %>
                </div>
              <% end %>
              <div class="actions text-right">
                <%= f.submit "Entrar", class: 'btn btn-primary' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
