@import "bootstrap";

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
}

.main {
  height: 100%;
  width: 100%;
  position: relative;

  .bg {
    height: 100%;
    background-image: url('https://i.imgur.com/xZ80XUm.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .skin {
    overflow: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 9;
    background-color: rgba(0, 0, 0, .5);
    top: 0;
  }

  .content {
    top: 0;
    color: white;
    z-index: 10;
    height: 100%;
    width: 100%;
    position: absolute;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

