<% if current_client.lawyer %>
  <div class="row mb-5">
    <div class="col text-center">
      <%= link_to 'Novo pedido', new_app_order_path, class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
<div class="row justify-content-around">
  <% @orders.each do |order| %>
    <div class="col-xs-12 col-sm-12 col-md-5 m-1 align-self-center">
      <%= render partial: '/shared/order', object: order, locals: { show: false } %>
    </div>
  <% end %>
</div>
