<div class="row h-100 align-items-cente">
  <div class="col">
    <div class="card">
      <%= form_for [:app, @order] do |f| %>
        <div class="card-header">
          Cadastro de Pedido
        </div>
        <div class="card-body">
          <h4 class="text-center">Descrição do pedido</h4>
          <div class="form-group">
            <%= f.label :date %>
            <%= f.date_field :date %>
          </div>
          <div class="form-group">
            <%= f.label :problem_type %>
            <%= f.collection_radio_buttons :problem_type, Order.problem_types_i18n, :first, :second do |r| %>
              <div class="form-check">
                <%= r.radio_button(class: 'form-check-input') %>
                <%= r.label(class: 'form-check-label') %>
              </div>
            <% end %>
          </div>
          <div class="form-group">
            <%= f.label :description %>
            <%= f.text_area :description, class: 'form-control' %>
          </div>
          <%= f.submit 'Enviar', class: 'btn btn-primary btn-block' %>
        </div>
      <% end %>
    </div>
  </div>

</div>
