<div class="main">
  <div class="bg"></div>
  <div class="skin"></div>
  <div class="content">
    <h1>Problemas com seu voo?</h1>
    <h2>Com a gente seu problema é Resolvvido ;)</h2>
    <div class="row w-50">
      <div class="col-6">
        <%= link_to 'Fazer pedido', pedido_path, class: 'btn btn-info btn-block' %>
      </div>
      <div class="col-6">
        <%= link_to 'Entrar', app_root_path, class: 'btn btn-primary btn-block' %>
      </div>
    </div>
  </div>
</div>

