<div class="order">
  <div class="container h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-xs-12 col-sm-8 col-md-6">
        <div class="card mt-5">
          <div class="card-body">
            <h3 class="text-center">
              Resolvvido
            </h3>
            <h6 class="text-center">Realizar pedido</h6>
            <hr>
            <%= form_with model: @client, url: order_path, method: :post, local: true do |f|%>
              <h4 class="text-center">Informações Pessoais</h4>
              <div class="form-group">
                <%= f.label :name %>
                <%= f.text_field :name, class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= f.label :email %>
                <%= f.email_field :email, class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= f.label :password %>
                <%= f.password_field :password, class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= f.label :phone %>
                <%= f.text_field :phone, class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= f.label :city %>
                <%= f.text_field :city, class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= f.label :state %>
                <%= f.text_field :state, class: 'form-control' %>
              </div>
              <hr>
              <%= f.fields_for :orders do |ff| %>
                <h4 class="text-center">Descrição do pedido</h4>
                <div class="form-group">
                  <%= ff.label :date %>
                  <%= ff.date_field :date %>
                </div>
                <div class="form-group">
                  <%= ff.label :problem_type %>
                  <%= ff.collection_radio_buttons :problem_type, Order.problem_types_i18n, :first, :second do |r| %>
                    <div class="form-check">
                      <%= r.radio_button(class: 'form-check-input') %>
                      <%= r.label(class: 'form-check-label') %>
                    </div>
                  <% end %>
                </div>
                <div class="form-group">
                  <%= ff.label :description %>
                  <%= ff.text_area :description, class: 'form-control' %>
                </div>
              <% end %>
              <%= f.submit 'Enviar', class: 'btn btn-primary btn-block'%>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
