<div class="container h-100">
  <div class="row h-100 align-items-center">
    <div class="col">
      <div class="jumbotron">
        <h1 class="display-4">PARABÉNS :)!</h1>
        <p class="lead">Seu pedido foi efetuado com sucesso e agora estrou em análise para um de nossos advogados.</p>
        <hr class="my-4">
        <p>Para mais informações, faça o login abaixo.</p>
        <%= link_to 'login', login_path, class: 'btn btn-block btn-lg btn-primary' %>
      </div>
    </div>
  </div>
</div>
