<div class="row">
  <% @matches.each do |match|%>
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-xs-12 col-sm-8">
              <div class="media">
                <img src="https://i.pravatar.cc/100" class="mr-3" alt="Advogado">
                <div class="media-body">
                  <h5 class="mt-0"><%= match.client.name %></h5>
                  <h6 class="mt-0"><%= "#{match.client.city}, #{match.client.state}"%></h6>
                  <a href="https://wa.me/<%= match.client.phone.gsub(/[^0-9]/, '') %>"><i class="icon ion-logo-whatsapp"></i></a>
                  <a href="mailto:<%= match.client.email %>"><i class="icon ion-md-mail"></i></a> <br>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4 text-right">
              <%= button_to 'Aceitar', adv_match_path(match), method: :patch, params: { situation: 'accepted' }, class: 'btn btn-success' %>
              <%= button_to 'Recusar', adv_match_path(match), method: :patch, params: { situation: 'refused' }, class: 'btn btn-danger' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
