<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Resolvvido</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- controller styles -->
    <%= stylesheet_link_tag params[:controller], 'data-turbolinks-track': 'reload' if (::Rails.application.assets || ::Sprockets::Railtie.build_environment(Rails.application)).find_asset("#{params[:controller]}.scss") && params[:controller] != 'application' %>

    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet" data-turbolinks-track="reload">
  </head>

  <body>
    <!-- header start -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Resolvvido</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <%= link_to 'Pedidos', app_orders_path, class: 'nav-link' %>
          </li>
          <% if current_client.lawyer %>
            <li class="nav-item active">
              <%= link_to 'Meu Advogado', app_lawyer_path, class: 'nav-link' %>
            </li>
          <% end %>
          <li class="nav-item">
            <%= link_to 'Sair', destroy_client_session_path, class: 'nav-link' %>
          </li>
        </ul>
      </div>
    </nav>
    <!-- header end -->

    <!-- content start -->
    <div class="container mt-5">
      <%= yield %>
    </div>
    <!-- content end -->
  </body>
</html>
